body {
    font-family: 'Rounded Mplus 1c' !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1,h2,h3,h4,h5 {
    font-family: "Rounded Mplus 1c" !important;
}
div {
    font-family: "Rounded Mplus 1c" !important;
    font-size: 1.0em !important;
}