<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>ひらがなけやき2期生クイズ</title>
    <meta name="description" content="けやき坂46の2期生こと、ひらがなけやき2期生のクイズを出題するサイトです。欅坂46、ひらがなけやき1期生に続いて坂道を登る彼女達を応援します。" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@hirakeya2quiz" />
    <meta name="twitter:title" content="ひらがなけやき2期生クイズ" />
    <meta name="twitter:description" content="ひらがなけやきの2期生に関するクイズサイト" />
    <meta name="twitter:image" content="https://www.hiraganakeyaki.com/image/logo.png" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58018879-8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-58018879-8');
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.js"></script>
</head>

<body>
    <div id="app" style="margin-top: 10px;">
        <div class="ui center aligned container">
            <div class="ui green inverted labeled icon menu">
                <a href="index.html" class="item">
                    <i class="home icon"></i>
                    トップ
                </a>
                <a v-on:click="quiz()" class="item">
                    <i class="tree icon"></i>
                    箱推し
                </a>
                <div class="ui dropdown item">
                    <i class="leaf icon"></i>
                    単推し
                    <div class="menu">
                        <a v-for="member in members" v-on:click="quiz(member)" class="item" >
                            {{ member.name }}
                        </a>
                    </div>
                </div>
                <a href="mailto:hiraganakeyaki246@gmail.com" class="right item">
                    <i class="envelope open outline icon"></i>
                    メール
                </a>
            </div>
            <div class="ui green segment">
                <h2 class="ui green header">
                    ひらがなけやき2期生クイズ
                </h2>
            </div>
            <div v-if="error" class="ui red message">
                <div class="content">
                    <div class="header">
                    クイズデータの取得に失敗しました。
                    </div>
                    <p>ページをリロードしてください。</p>
                </div>
            </div>
            <div class="ui centered two stackable cards">
                <quiz v-for="q in quizs"
                    :id="q.id" :no="q.no" :name="q.name" :question="q.question" :image="q.image"
                    :answer1="q.answer1" :answer2="q.answer2" :answer3="q.answer3" :answer4="q.answer4">
                </quiz>
            </div>
            <h4 class="ui horizontal divider header">
                <i class="leaf green icon"></i>
                Hiraganakeyaki Second Quiz
            </h4>
            <div class="ui centered horizontal small link divided list">
                <a href="https://twitter.com/hirakeya2quiz" target="_blank" class="item">
                    <i class="twitter icon"></i>
                    Twitter
                </a>
            </div>
            <div>
                <small>
                    Copyright © 2018 ひらがなけやき 2期生 クイズ All Rights Reserved.
                </small>
            </div>
            
        </div>
    </div>

    <script src="js/transition.js"></script>
    <script src="js/app.js"></script>
</body>
</html>